node_modules
.DS_Store
dist
build
.svelte-kit
package
.env
.env.*
!.env.example
*.log

# pnpm
.pnpm-store

# Tauri
target/
gen/
Cargo.lock

# Turbo
.turbo/

# IDE
.vscode
.idea
*.swp
*.swo

# OS
Thumbs.db
